<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="eff760">  <td>18/01/10 11:47:19</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SaveAsNewGenericClass.login()[pri:1, instance:SaveAsNew.SaveAsNewGenericClass@29774679]">login</td> 
  <td>main@485041780</td>   <td></td> </tr>
<tr bgcolor="eff760">  <td>18/01/10 11:47:24</td>   <td>4370</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SaveAsNewGenericClass.createAccommodationTypes()[pri:2, instance:SaveAsNew.SaveAsNewGenericClass@29774679]">createAccommodationTypes</td> 
  <td>main@485041780</td>   <td></td> </tr>
</table>
